/* General */

/* #region */

:root {
    --blue-1: #55ccff;
    /*main*/
    --blue-2: #4FC3F7;
    /*darken*/
    --blue-3: #80d5fa;
    --blue-4: rgb(238, 248, 253);
    /*background*/
    --blue-5: #81D4FA;
    /*header and footer*/
    --blue-6: rgb(67, 156, 230);
    --blue-7: #1da7de;
    /*shadow*/
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--blue-4);
}

p, ul {
    font-family: Verdana;
    font-size: 1.1rem;
}

.section-header {
    color: var(--blue-1);
    font-size: 2.5em;
    margin-left: 16px;
}

.subsection-header {
    color: var(--blue-1);
}

h1 {
    font-family: baloo paaji;
    font-size: 2em;
    margin: 0;
    transition: all 0.1s;
}

h2 {
    font-family: Viga;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.inline-anchor {
    color: var(--blue-6);
}

.inline-anchor:hover {
    text-decoration: underline;
}

.darken {
    transition: background-color 1s;
}

.darken:hover {
    background-color: var(--blue-2);
}

.shadow {
    transition: font-size 0.1s ease-in-out;
}

.shadow:hover {
    text-shadow: 2px 2px 4px var(--blue-7);
}

.shadow:active {
    text-shadow: 1px 1px 2px var(--blue-7);
}

.click-transition {
    transition: font-size 0.1s ease-in-out;
}

#stack {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 55px;
}

.text-section {
    padding-left: 32px;
    padding-right: 32px;
}

#hero {
    height: 100vh;
}

.link-icon {
    color: var(--blue-6);
    padding-left: 6px;
    vertical-align: 15%;
}

#projects, #bio, #poetry, #journalism, #digital-poetics, #performance {
    padding-top: 55px;
}

/* #endregion */

/* Modal */

/* #region */

#fade {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(256, 256, 256, 0.5);
    display: grid;
    place-items: center;
    transition: opacity 0.5s;
    padding: 0;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 768px;
    max-height: 80%;
    background-color: white;
    transition: opacity 0.5s;
    opacity: 0;
    box-shadow: 0 0 16px rgba(107, 180, 240, 0.5);
    border-radius: 16px;
    overflow: hidden;
}

#modal-content {
    padding: 32px;
    padding-bottom: 0;
    overflow-y: auto;
    display: grid;
    place-items: center;
}

#modal-content::after {
    content: '';
    padding: 16px;
}

#modal-header {
    height: 50px;
    min-height: 50px;
    background-color: var(--blue-5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#exit {
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding-left: 16px;
    padding-right: 16px;
}

#modal-content>h1 {
    color: var(--blue-1);
    text-align: center;
    line-height: 0.8;
}

iframe {
    width: 640px;
    height: 360px;
    margin: auto;
    margin-bottom: 16px;
    text-align: center;
}

.modal-link {
    width: 50%;
    color: var(--blue-1);
    border: 1px solid var(--blue-1);
    text-align: center;
    padding: 16px;
    height: 30px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Verdana;
    font-size: 1.1rem;
    display: grid;
    place-items: center;
    transition: all 0.1s;
    border-radius: 8px;
}

.modal-link:hover {
    background-color: var(--blue-1);
    color: white;
    border: 1px solid var(--blue-1);
}

.modal-link:active {
    font-size: 1.0rem;
}

/* #endregion */

/* Header */

/* #region */

header {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: var(--blue-5);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 2;
    transition: opacity 0.5s ease;
}

#top-nav-desktop {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 32px;
}

#top-nav-mobile {
    position: fixed;
    height: 165px;
    background-color: var(--blue-5);
    color: white;
    opacity: 0;
    top: -165px;
    left: 0;
    right: 0;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-nav-desktop>a {
    margin-left: 24px;
}

#hamburger, #initials {
    display: none;
}

#hamburger {
    cursor: pointer;
    font-size: 30px;
}

.inactive {
    pointer-events: none;
    cursor: default;
    opacity: 0;
}

/* #endregion */

/* Hero */

/* #region */

#hero {
    background-image: url("media/grid.svg"), linear-gradient(#81D4FA, white);
    background-size: 64px, 100%;
    animation: scrollDown 2.5s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner {
    width: 80%;
    height: auto;
    margin-bottom: 32px;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-button {
    background-color: var(--blue-1);
    width: 200px;
    min-height: 100px;
    color: white;
    text-align: center;
    border-radius: 40px;
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    place-items: center;
    transition: background-color 0.25s;
}

.nav-button:active {
    font-size: 0.95em;
}

@keyframes scrollDown {
    from {
        background-position: 0 0, 0 0;
    }
    to {
        background-position: 0 64px, 0 0;
    }
}

/* #endregion */

/* Games */

/* #region */

#games {
    display: flex;
    flex-direction: column;
}

#games-header {
    margin: 0;
}

#carousel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

#projects {
    margin: 0;
    margin-top: 0;
}

.controls {
    display: flex;
    flex-direction: row;
}

.scroll-button {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    background-color: var(--blue-1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 14px;
    user-select: none;
}

.scroll-button>h1 {
    margin: 0;
}

.scroll-button:hover {
    color: var(--blue-1);
    background-color: white;
    border: 3px solid var(--blue-1);
    box-sizing: border-box;
    cursor: pointer;
}

.scroll-button:active {
    font-size: 13px;
}

#back {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#carousel::-webkit-scrollbar {
    width: 0;
}

.box {
    scroll-snap-align: start;
    height: 400px;
    width: 550px;
    object-fit: cover;
    transition: all 0.5s;
}

.box:hover {
    opacity: 0.8;
    cursor: pointer;
}

#bar {
    height: 8px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
}

#progress {
    height: 100%;
    width: 0%;
    background-color: var(--blue-1);
}

/* #endregion */

/* Writing */

/* #region */

#writing {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.writing-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue-1);
}

.writing-icon {
    font-size: 10vw;
    transition: all 0.1s;
    vertical-align: center;
    text-align: center;
}

.writing-icon:hover {
    color: var(--blue-2);
    font-size: 9vw;
}

/* #endregion */

/* About */

/* #region */

#about {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 32px;
}

.about-block {
    display: flex;
    align-items: center;
}

#info {
    flex-direction: row;
}

#skills {
    flex-direction: row-reverse;
}

.circle {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: var(--blue-1);
    color: white;
    text-decoration: none;
}

#headshot {
    background-image: url("media/self.jpg");
    margin-right: 15px;
}

#resume {
    margin-left: 15px;
    transition: background-color 0.25s;
}

#resume:active {
    font-size: 0.95em;
}

/* #endregion */

/* Footer */

/* #region */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--blue-5);
    font-size: 3rem;
    color: white;
}

footer>a {
    margin: 32px 8px 32px 8px;
}

/* #endregion */

/* Mobile */

/* #region */

@media (max-width: 768px) {
    .shadow:hover, .shadow:active {
        text-shadow: none;
    }
    .shadow:active {
        color: var(--blue-4);
    }
    #initials, #hamburger {
        display: block;
    }
    #name, #top-nav-desktop>a {
        display: none;
    }
    #stack {
        margin: 0;
    }
    #hero {
        justify-content: space-evenly;
        background-image: url("media/grid.svg"), linear-gradient(var(--blue-4), white);
    }
    #navigation {
        flex-direction: column;
        width: 80%;
    }
    .nav-button {
        width: 100%;
        margin-bottom: 16px;
    }
    .box {
        width: 100vw;
        height: auto;
        scroll-snap-align: center;
    }
    #writing {
        grid-template-columns: 50% 50%;
    }
    .writing-icon {
        font-size: 20vw;
    }
    .writing-icon:hover {
        font-size: 19vw;
    }
    #info, #skills {
        flex-direction: column;
    }
    .section-header {
        text-align: center;
        margin: 0;
    }
    #modal {
        max-height: 90%;
        /* height: 90%; */
        width: 90%;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
}

/* #endregion */